/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*

	BROWSER RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	================================
	Border box reset
	================================
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/*
	=================================
	Header 
	=================================
*/



header {
	display: flex;
	flex-direction: row;
	flex-wrap:  nowrap;
	justify-content: space-between;
	background: darkslategray;
	padding: 0 5px;

	box-shadow: darkslategray 0 0 1px 1px;
}

header > div  {

	padding:  10px;
}

header > div > * {
	display: inline-block;
	margin: 0 10px;
}

#left-header-section 
nav {
	position: relative;
	width:30px;
	height:30px;

}

#left-header-section >
nav >
img {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

#left-header-section 
#logo-and-title > * {
	display: inline-block;	
	margin: 0 5px;
}

#left-header-section 
#logo-and-title 
i {
	width:30px;
	height:30px;

}

#left-header-section
#logo-and-title 
h3 {
	width: 100px;
	height:30px;

	background: goldenrod;
}


#center-header-section
form {
	height: 30px;
	box-shadow: gray 0 0 1px 0;
}

#center-header-section 
form > * {
	height: 100%;
}



#right-header-section
#meta-icons  {
	display: inline-block;
	width: 150px;
	height:30px;
}

#right-header-section
#meta-icons > i {
	display: inline-block;
	width:30px;
	height:30px;
	margin: 0 5px;
	background: darkturquoise;
}


#right-header-section 
img {
	width:30px;
	height:30px;

	border-radius: 100px;
}






